.date {
  position: relative;
  font-weight: 500;
  &__active {
    .date__btn {
      border-color: #375DE1;
      background-color: #375DE1;
      .date__value {
        color: #fefefe;
      }
      svg path {
        stroke: #fefefe;
      }
    }
    .date__content {
      display: block;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #f3f3f3;
    border: 1px solid #cdcdcd;
    &:hover {
      background-color: #5E89E3;
      border: 1px solid #5E89E3;
      .date__value {
        color: #fefefe;
      }
      svg path {
        stroke: #fefefe;
      }
    }
  }
  &__content {
    display: none;
    width: 240px;
    top: 48px;
    padding: 12px;
    position: absolute;
    border-radius: 12px;
    background-color: #f3f3f3;
    border: 1px solid #cdcdcd;
  }
  &__header {
    font-size: 20px;
    font-weight: 500;
  }
  &__subhead {
    font-size: 16px;
    color: #606060;
    line-height: 1.2rem;
    margin-top: 8px;
  }
  &__input {
    width: 100%;
    margin-top: 12px;
    padding: 11px 12px;
    border-radius: 8px;
    border-color: #cdcdcd;
    font-size: 14px;
  }
  &__label {
    display: inline-block;
    margin-top: 16px;
    font-size: 16px;
  }
  &__list {
    display: flex;
    align-items: center;
    width: 550px;
    margin-top: 12px;
    &-item {
      font-size: 14px;
      padding: 8px 12px;
      border-radius: 8px;
      margin-right: 8px;
      margin-bottom: 8px;
      cursor: pointer;
      background-color: #fefefe;
      border: 1px solid #cdcdcd;
      &:last-child {
        margin-right: 0;
      }
      &__active {
        color: #fefefe;
        border-color: #375DE1;
        background-color: #375DE1;
      }
    }
  }
  &__value {
    display: flex;
    align-items: center;
  }
}

.search {
  position: relative;
  &__active {
    .search__btn {
      border-color: #375DE1;
      background-color: #375DE1;
      .search__btn-text {
        color: #fefefe;
      }
      svg path {
        stroke: #fefefe;
      }
    }
    .search__content {
      display: block;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #f3f3f3;
    border: 1px solid #cdcdcd;
    &:hover {
      background-color: #5E89E3;
      border: 1px solid #5E89E3;
      .search__btn-text {
        color: #fefefe;
      }
      svg path {
        stroke: #fefefe;
      }
    }
  }
  &__content {
    display: none;
    width: 248px;
    top: 48px;
    padding: 12px;
    position: absolute;
    border-radius: 12px;
    background-color: #f3f3f3;
    border: 1px solid #cdcdcd;
  }
  &__header {
    font-size: 20px;
    font-weight: 500;
  }
  &__subhead {
    font-size: 16px;
    color: #606060;
    line-height: 1.2rem;
    margin-top: 8px;
  }
  &__input {
    width: 100%;
    margin-top: 12px;
    padding: 11px 12px;
    border-radius: 8px;
    font-size: 14px;
    border-color: #cdcdcd;
  }
  &__label {
    display: inline-block;
    margin-top: 16px;
    font-size: 18px;
  }
}

.notes {
  position: relative;
  font-weight: 500;
  &__active {
    .notes__btn {
      border-color: #375DE1;
      background-color: #375DE1;
      &-text {
        color: #fefefe;
      }
      svg {
        transform: rotate(180deg);
        path {
          stroke: #fefefe;
        }
      }
    }

    .notes__content {
      display: block;
    }
  }
  &__add {
    width: 100%;
    display: none;
    margin-top: 16px;
    &-control {
      font-size: 14px;
      padding: 15px;
      font-weight: 700;
      border-radius: 8px;
    }
    &-btn {
      margin-top: 16px;
      color: #fefefe;
      background-color: #375DE1;
    }
    &-cancel {
      text-align: center;
      cursor: pointer;
      margin-top: 8px;
      background-color: #f3f3f3;
    }
    &-visible {
      display: flex;
    }
    &-input {
      width: 100%;
      height: 290px;
      border-radius: 8px;
      border: 1px solid #cdcdcd;
      background-color: #f3f3f3;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #f3f3f3;
    border: 1px solid #cdcdcd;
    &:hover {
      background-color: #5E89E3;
      border: 1px solid #5E89E3;
      .notes__btn-text {
        color: #fefefe;
      }
      svg path {
        stroke: #fefefe;
      }
    }
    svg {
      transform: rotate(180deg);
    }
  }
  &__content {
    display: none;
    width: 280px;
    height: 496px;
    border-radius: 12px;
    position: absolute;
    right: 0;
    top: 48px;
    padding: 12px;
    background: #fefefe;
    border: 1px solid #cdcdcd;
  }
  &__header {
    font-size: 18px;
    font-weight: 700;
  }
  &__subhead {
    font-size: 16px;
    margin-top: 4px;
    color: #606060;
  }
  &__list {
    width: 100%;
    height: 342px;
    overflow-y: scroll;
    margin-top: 16px;
    &-hidden {
      display: none;
    }
  }
  &__item {
    margin: {
      right: 8px;
      bottom: 6px;
    }
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
    border: 1px solid #cdcdcd;
    background-color: #f3f3f3;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__new {
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    margin-top: 16px;
    color: #fefefe;
    padding: 14px;
    border-radius: 8px;
    background-color: #375DE1;
    &-hidden {
      display: none;
    }
  }
}