.search {
  position: relative;
  &__active {
    .search__btn {
      border-color: #375DE1;
      background-color: #375DE1;
      .search__btn-text {
        color: #fefefe;
      }
      svg path {
        stroke: #fefefe;
      }
    }
    .search__content {
      display: block;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #f3f3f3;
    border: 1px solid #cdcdcd;
    &:hover {
      background-color: #5E89E3;
      border: 1px solid #5E89E3;
      .search__btn-text {
        color: #fefefe;
      }
      svg path {
        stroke: #fefefe;
      }
    }
  }
  &__content {
    display: none;
    width: 248px;
    top: 48px;
    padding: 12px;
    position: absolute;
    border-radius: 12px;
    background-color: #f3f3f3;
    border: 1px solid #cdcdcd;
  }
  &__header {
    font-size: 20px;
    font-weight: 700;
  }
  &__subhead {
    font-size: 16px;
    color: #606060;
    line-height: 1.2rem;
    margin-top: 8px;
  }
  &__input {
    width: 100%;
    margin-top: 12px;
    padding: 11px 12px;
    border-radius: 8px;
    font-size: 14px;
    border-color: #cdcdcd;
  }
  &__label {
    display: inline-block;
    margin-top: 16px;
    font-size: 18px;
  }
}

.notes {
  position: relative;
  font-weight: 500;
  &__active {
    .notes__btn {
      border-color: #375DE1;
      background-color: #375DE1;
      &-text {
        color: #fefefe;
      }
      svg {
        transform: rotate(180deg);
        path {
          stroke: #fefefe;
        }
      }
    }

    .notes__content {
      display: block;
    }
  }
  &__add {
    width: 100%;
    display: none;
    margin-top: 16px;
    &-control {
      font-size: 14px;
      padding: 15px;
      font-weight: 700;
      border-radius: 8px;
    }
    &-btn {
      margin-top: 16px;
      color: #fefefe;
      background-color: #375DE1;
    }
    &-cancel {
      text-align: center;
      cursor: pointer;
      margin-top: 8px;
      background-color: #f3f3f3;
    }
    &-visible {
      display: flex;
    }
    &-input {
      width: 100%;
      height: 290px;
      border-radius: 8px;
      border: 1px solid #cdcdcd;
      background-color: #f3f3f3;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #f3f3f3;
    border: 1px solid #cdcdcd;
    &:hover {
      background-color: #5E89E3;
      border: 1px solid #5E89E3;
      .notes__btn-text {
        color: #fefefe;
      }
      svg path {
        stroke: #fefefe;
      }
    }
    svg {
      transform: rotate(180deg);
    }
  }
  &__content {
    display: none;
    width: 280px;
    height: 496px;
    border-radius: 12px;
    position: absolute;
    right: 0;
    top: 48px;
    padding: 12px;
    background: #fefefe;
    border: 1px solid #cdcdcd;
  }
  &__header {
    font-size: 18px;
    font-weight: 700;
  }
  &__subhead {
    font-size: 16px;
    margin-top: 4px;
    color: #606060;
  }
  &__list {
    width: 100%;
    height: 342px;
    overflow-y: scroll;
    margin-top: 16px;
    &-hidden {
      display: none;
    }
  }
  &__item {
    margin: {
      right: 8px;
      bottom: 6px;
    }
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
    border: 1px solid #cdcdcd;
    background-color: #f3f3f3;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__new {
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    margin-top: 16px;
    color: #fefefe;
    padding: 14px;
    border-radius: 8px;
    background-color: #375DE1;
    &-hidden {
      display: none;
    }
  }
}

@media screen and (min-width: 1786px) {
  .notes {
    position: relative;
    font-weight: 500;
    &__add {
      width: 100%;
      display: none;
      margin-top: 16px;
      &-control {
        font-size: 16px;
        padding: 16px;
      }
      &-btn {
        padding: 16px;
      }
      &-cancel {
        margin-top: 12px;
        background-color: #fefefe;
      }
      &-visible {
        display: flex;
      }
      &-input {
        width: 100%;
        height: 456px;
        border-radius: 12px;
        background-color: #fefefe;
      }
    }
    &__btn {
      display: none;
    }
    &__content {
      width: 310px;
      height: 700px;
      display: block;
      top: 90px;
      background-color: #f3f3f3;
    }
    &__header {
      font-size: 22px;
    }
    &__subhead {
      font-size: 16px;
      line-height: 22px;
    }
    &__list {
      width: 100%;
      height: 510px;
      overflow-y: scroll;
      margin-top: 16px;
    }
    &__item {
      background-color: #fefefe;
    }
    &__new {
      margin-top: 24px;
      font-size: 16px;
      padding: 16px;
      color: #fefefe;
    }
  }
  
  .search {
    position: relative;
    &__active {
      .search__content {
        display: block;
      }
    }
    &__content {
      width: 282px;
      top: 64px;
      right: 0;
      z-index: 3;
    }
    &__header {
      font-size: 24px;
    }
    &__subhead {
      font-size: 18px;
    }
    &__input {
      width: 100%;
      margin-top: 12px;
      padding: 13px 12px;
      font-size: 16px;
    }
    &__label {
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 1586px) and (max-width: 1787px) {
  .notes {
    &__content {
      width: 280px;
      height: 540px;
      display: block;
      top: 90px;
      padding: 12px;
      background-color: #f3f3f3;
    }
    &__btn {
      display: none;
    }
    &__header {
      font-size: 22px;
    }
    &__subhead {
      font-size: 16px;
      line-height: 22px;
    }
    &__list {
      width: 100%;
      height: 356px;
      overflow-y: scroll;
      margin-top: 16px;
    }
    &__item {
      background-color: #fefefe;
    }
    &__new {
      margin-top: 24px;
      font-size: 16px;
      padding: 16px;
      color: #fefefe;
    }
  }
  
  .search {
    position: relative;
    &__active {
      .search__content {
        display: block;
      }
    }
    &__content {
      width: 282px;
      top: 64px;
      right: 0;
      z-index: 3;
    }
    &__header {
      font-size: 24px;
    }
    &__subhead {
      font-size: 18px;
    }
    &__input {
      width: 100%;
      margin-top: 12px;
      padding: 13px 12px;
      font-size: 16px;
    }
    &__label {
      font-size: 20px;
    }
  }
}