.feedbacks-slider .slick-list {
  width: 620px !important;
  overflow: hidden;
  border-radius: 16px !important;
}

.feedbacks-slider .slick-track {
  display: flex;
  justify-content: center;
}

.feedbacks-slider .slick-slide {
  width: 620px;
  margin: 0 16px;
}

.feedbacks-slider {
  width: 620px;
  position: relative;
  border-radius: 24px !important;
}

.feedbacks-slider .slick-arrow.slick-prev {
  top: 40%;
  left: -12%;
  z-index: 0;
  font-size: 0;
  padding: 24px;
  position: absolute;
  border-radius: 100px;
  background-size: 48px 48px;
  background: url('/src/img/landing/icons/slider-prev.svg') 0 0/100% no-repeat;
  &:hover {
    box-shadow: 0px 0px 16px rgba(51, 112, 202, 0.48);
  }
}
.feedbacks-slider .slick-arrow.slick-next {
  top: 40%;
  right: -12%;
  z-index: 0;
  font-size: 0;
  padding: 24px;
  position: absolute;
  border-radius: 100px;
  background-size: 48px 48px;
  background: url('/src/img/landing/icons/slider-next.svg') 0 0/100% no-repeat;
  &:hover {
    box-shadow: 0px 0px 16px rgba(51, 112, 202, 0.48);
  }
}

@media screen and (min-width: 968px) and (max-width: 1200px) {
  .feedbacks-slider .slick-list {
    width: 620px !important;
    overflow: hidden;
    border-radius: 16px !important;
  }
  
  .feedbacks-slider .slick-track {
    display: flex;
    justify-content: center;
  }
  
  .feedbacks-slider .slick-slide {
    width: 620px !important;
    margin: 0 auto;
  }
  
  .feedbacks-slider {
    width: 620px !important;
    position: relative;
    border-radius: 16px !important;
  }
}

@media screen and (min-width: 660px) and (max-width: 960px) {
  .feedbacks-slider .slick-list {
    width: 620px !important;
    overflow: hidden;
    border-radius: 24px !important;
  }
  
  .feedbacks-slider .slick-track {
    display: flex;
    justify-content: center;
  }
  
  .feedbacks-slider .slick-slide {
    width: 620px !important;
    margin: 0 auto;
  }
  
  .feedbacks-slider {
    width: 620px !important;
    position: relative;
    border-radius: 16px !important;
  }

  .feedbacks-slider .slick-arrow.slick-prev {
    top: 110%;
    left: 35%;
    padding: 24px;
  }

  .feedbacks-slider .slick-arrow.slick-next {
    top: 110%;
    right: 35%;
    padding: 24px;
  }
}

@media screen and (min-width: 460px) and (max-width: 620px) {
  .feedbacks-slider .slick-list {
    width: 448px !important;
    overflow: hidden;
    border-radius: 24px !important;
  }
  
  .feedbacks-slider .slick-track {
    display: flex;
    justify-content: center;
  }
  
  .feedbacks-slider .slick-slide {
    width: 448px !important;
    margin: 0 auto;
  }
  
  .feedbacks-slider {
    width: 448px !important;
    position: relative;
    border-radius: 16px !important;
  }

  .feedbacks-slider .slick-arrow.slick-prev {
    top: 110%;
    left: 30%;
    padding: 24px;
  }

  .feedbacks-slider .slick-arrow.slick-next {
    top: 110%;
    right: 30%;
    padding: 24px;
  }
}

@media screen and (min-width: 360px) and (max-width: 420px) {
  .feedbacks-slider .slick-list {
    width: 328px !important;
    overflow: hidden;
    border-radius: 24px !important;
  }
  
  .feedbacks-slider .slick-track {
    display: flex;
    justify-content: center;
  }
  
  .feedbacks-slider .slick-slide {
    width: 328px !important;
    margin: 0 auto;
  }
  
  .feedbacks-slider {
    width: 328px !important;
    position: relative;
    border-radius: 16px !important;
  }

  .feedbacks-slider .slick-arrow.slick-prev {
    top: 110%;
    left: 30%;
    padding: 24px;
  }

  .feedbacks-slider .slick-arrow.slick-next {
    top: 110%;
    right: 30%;
    padding: 24px;
  }
}

@media screen and (min-width: 1580px) and (max-width: 1920px) {
  .feedbacks-slider .slick-list {
    width: 780px !important;
    overflow: hidden;
    border-radius: 24px !important;
  }
  
  .feedbacks-slider .slick-track {
    display: flex;
    justify-content: center;
  }
  
  .feedbacks-slider .slick-slide {
    width: 780px !important;
    margin: 0 auto;
  }
  
  .feedbacks-slider {
    width: 780px !important;
    position: relative;
    border-radius: 24px !important;
  }

  .feedbacks-slider .slick-arrow.slick-prev {
    padding: 24px;
    background-size: 56px 56px;
    background: url('/src/img/landing/icons/slider-prev.svg') 0 0/100% no-repeat;
  }
  .feedbacks-slider .slick-arrow.slick-next {
    padding: 24px;
    background-size: 56px 56px;
    background: url('/src/img/landing/icons/slider-next.svg') 0 0/100% no-repeat;
  }
}