@import "./burger";
@import "./dropdown";
@import "./gallery";
@import "./feedbacks";
@import "./darkmode";
@import "./auth";
@import "./aside";
@import "./add";
@import "./controls";
@import "./modal";

.theme {
  &__switcher {
    z-index: 20;
    &-menu__opened {
      z-index: 1 !important;
    }
  }
}

.data {
  &__pill {
    display: block;
    padding: 9px 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 16px;
    font-size: 14px;
    background-color: #f3f3f3;
    border: 1px solid #cdcdcd;
    &:hover {
      background-color: #5e89e3;
      border-color: #5e89e3;
      color: #fefefe;
    }
    &-active {
      color: #fefefe;
      border-color: #375de1;
      background-color: #375de1;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.queries {
  &__actions {
    display: none;
    &-visible {
      display: block;
    }
  }
  &__action:hover {
    border-color: #375de1;
    background-color: #375de1;
    svg path {
      stroke: #fefefe;
    }
    p {
      color: #fefefe;
    }
  }
  &__action {
    &-trash, &-trash:hover {
      color: #fefefe;
      border-color: #F34949;
      background-color: #F34949;
      svg path {
        stroke: #fefefe;
      }
    }
  }
}

.gallery {
  &__actions {
    display: none;
    &-visible {
      display: block;
    }
  }
}

.tab {
  margin-right: 12px;
  border-radius: 8px;
  border: 1px solid #cdcdcd;
  background-color: #f3f3f3f3;
  &__link {
    display: flex;
    padding: 6px 12px;
  }
  &__icon {
    width: 18px;
    height: 18px;
  }
  &__text {
    margin-left: 8px;
  }
  &__active {
    border-color: #375de1;
    background-color: #375de1;
    .tab__text {
      color: #fefefe;
    }
    .tab__icon {
      path {
        stroke: #fefefe;
      }
    }
  }
  &:hover {
    border-color: #5e89e3;
    background-color: #5e89e3;
    .tab__text {
      color: #fefefe;
    }
    .tab__icon {
      path {
        stroke: #fefefe;
      }
    }
  }
  &:last-child {
    margin-right: 0;
  }
}

.dataRestore {
  &__filter {
    display: none;
    &-active {
      display: block;
    }
  }
  &__form {
    display: none;
    &-active {
      display: block;
    }
  }
}
