@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Geometria";
    src: url("../font/Geometria-Regular.woff2") format("woff2"), url("../font/Geometria.woff") format("woff");
  }
  @font-face {
    font-family: "Geometria";
    font-weight: 500;
    src: url("../font/Geometria-Medium.woff2") format("woff2"), url("../font/Geometria-Medium.woff") format("woff");
  }
  @font-face {
    font-family: "Geometria";
    font-weight: bold;
    src: url("../font/Geometria-Bold.woff2") format("woff2"), url("../font/Geometria-Bold.woff") format("woff");
  }
}

@layer utilities {
  .no-scrollbar {
    &::-webkit-scrollbar {
      @apply w-0 h-0;
    }
    &::-webkit-scrollbar-track {
      @apply w-0 h-0 appearance-none;
    }
    &::-webkit-scrollbar-thumb {
      @apply w-0 h-0 appearance-none;
    }
  }
}

@layer components {
  .courses {
    &__item {
      @apply ad:mb-8 ad:mr-8 md:mb-12 ad:px-12 lg:px-16 ad:py-[15px] md:py-16 xl:py-20 ad:text-16 lg:text-18 md:text-20 bg-light-500 ad:rounded-8 tb:rounded-12 md:rounded-16 border border-light-900 dark:border-0 dark:bg-dark-700 dark:text-light-600 cursor-pointer;
      &-active {
        @apply bg-light-700 border-2 border-brand-900 text-brand-900 dark:bg-dark-800 dark:text-brand-900 dark:border-brand-900 dark:border-2;
      }
      &:hover {
        @apply border-brand-900;
      }
    }
    &__initial {
      @apply hidden;
      &-visible {
        @apply block;
      }
    }
    &__requesting {
      @apply hidden;
      &-visible {
        @apply block;
      }
    }
    &__succeded {
      @apply hidden;
      &-visible {
        @apply block;
      }
    }
    &__list {
      &::-webkit-scrollbar {
        @apply w-8;
      }
      &::-webkit-scrollbar-track {
        @apply rounded-16 bg-light-400;
      }
      &::-webkit-scrollbar-thumb {
        @apply h-12 border-2 border-light-400 rounded-16 bg-brand-900;
      }
    }
  }
  .tab {
    @apply mr-12 md:mr-16 last:mr-0 px-12 md:px-16 py-[7px] md:py-[9px] text-16 bg-light-600 rounded-8 border border-light-900 cursor-pointer;
    &:hover {
      @apply bg-brand-800 border-brand-800 text-light-400;
    }
    &__active {
      @apply bg-brand-900 border-brand-900 text-light-400;
    }
  }
}